body {
}

.BackBlueColor
{
    color: #110f0f;
    background-color: #414e7d;
}

.dateback
{
    background-color:#3c763d;
    width: 100px;
}

.newss
{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background:#898d9f;
    border: 1px solid black;
    margin:5px;
    padding: 5px;
    overflow: hidden;
    font:100 14px courier new;
}

/*.form-signin {
        max-width: 300px;
        padding: 19px 29px 29px;
        margin: 0 auto 20px;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                box-shadow: 0 1px 2px rgba(0,0,0,.05);
      }
      .form-signin .form-signin-heading,
      .form-signin .checkbox {
        align-content:center;
      }*/


.ddl
{
    border: 2px solid #414e7d;
    border-radius: 4px;
    padding: 3px;
    -webkit-appearance: none;
    background-color: #898d9f;
}